%header
  = link_to logo, root_path
  %nav.round
    %ul
      %li
        %a{:href => "#"} Home
      - if signed_in?
        %li 
          = link_to "Profile", current_user
        %li 
          = link_to "Users", users_path
        %li
          = link_to "Settings", edit_user_path(current_user)
      %li
        %a{:href => "#"} Help
      - if signed_in?
        %li 
          = link_to "Sign Out", signout_path
      - else
        %li
          = link_to "Sign in", signin_path
